:root { 
  --vertical-bar-color: #6200ee;  
  --divider-line-color: #6a8291df;
  --background-color: #121212; 
  --text-color: #e0e0e0;       
  --link-color: #90caf9;      
  --card-bg-color: #2c2c2c;  
  --teaser-color: #aaaaaa;  
  --time-color: #374bba;


}

body {
  margin: 0;
  font-family: "Computer Modern", sans-serif;

  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');


  line-height: 1.7; 
  background-color: var(--background-color);
  color: var(--text-color);

  max-width: 900px;  
  margin-left: auto; 
  margin-right: auto;
  padding: 20px;
}

html {
  font-size: 16px;  
}

body.fullWidth {
  max-width: none;  
  margin-left: 0;
  margin-right: 0;
  padding: 20px;     
}



.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
}


.sidebar {
  width: 180px;              
  position: fixed;           
  top: 0;
  left: 0;
  height: 100vh;
  background-color: var(--background-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

}

.sidebar .title {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--text-color);
  margin-bottom: 1rem;
}

.sidebar .nav-links a {
   
  display: block;
  margin-bottom: 0.5rem;
  color: var(--link-color);
  text-decoration: none;
  font-size: 1.5rem;
}

.sidebar .nav-links a:hover {
  text-decoration: underline;
}


.content {
  flex: 1;
  padding: 2rem;
  margin-left: 200px;        
}


.content section { margin-bottom: 3rem; }

.content a {
  color: var(--link-color);
  text-decoration: none;
}
.content a:hover { text-decoration: underline; }


.media-grid {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 40px; 
  margin-top: 2rem;
}

.media-feed {
  order: 2; 
}

.current-readings {
  padding: 2rem; 
  border-radius: 10px; 
  background-color: var(--card-bg-color); 
  border: 1px solid var(--vertical-bar-color); 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  
  
  position: static; 
  top: auto; 
  max-height: none;
  order: 1; 

  display: flex; 
  flex-wrap: wrap; 
  gap: 20px; 

}

.teaser  {
  font-style: italic;
  font-size: 0.9rem;
  color: var(--teaser-color);
  margin-bottom: 10px;

}

.thoughts {
    border-bottom: 4px solid var(--divider-line-color);
}

  

.feed-entry {
  border-left: 7px solid var(--vertical-bar-color);
  padding-left: 15px;
  margin-bottom: 30px;
  margin-right: auto;
  max-width: 800px; 

}

.source {
  font-style: italic;
  font-size: 0.9rem;
  color: var(--teaser-color);
  margin-bottom: 10px;
}

.feed-entry .reading-item .detail {
  font-style: italic;
  font-size: 0.9rem;
  color: var(--teaser-color);
  margin-bottom: 10px;

}

.reading-item {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--divider-line-color);
  flex: 1 1 calc(50% - 10px); 
  min-width: 250px;
}

.reading-item:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.reading-item h4 {
  margin: 0 0 5px 0;
  font-size: 1.5rem;
  color: var(--text-color);
}

.reading-item .note {
  font-size: 0.9rem;
  margin: 5px 0 0 0;
}



.dump-grid {
    display: grid;
    /* Create responsive columns: at least 300px wide, fitting as many as possible per row */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 2rem;
    align-items: start; /* Prevents shorter boxes from stretching to match height of taller ones */
}

.dump-box {
    background-color: var(--card-bg-color);
    border-radius: 8px;
    padding: 1.5rem;
    border: 1px solid var(--vertical-bar-color); 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.dump-title {
    margin: 0 0 1rem 0;
    font-size: 1.25rem;
    color: var(--text-color);
    border-bottom: 1px solid var(--divider-line-color);
    padding-bottom: 0.5rem;
}

.dump-list {
    display: flex;
    flex-direction: column; /* Vertical stacking */
    gap: 0.1rem; /* Space between links */
}

@media (max-width: 512px) {
  .current-readings {
    margin-bottom: 2rem;
  }
}

@media (max-width: 500px) {
  .layout { flex-direction: column; }

  .sidebar {
    position: sticky;       
    width: 100%;
    height: auto;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    top: 0;
  }

  .sidebar .nav-links { display: flex; gap: 1rem; }

  .content {
    margin: 0;               
    padding: 1rem;
  }
}

time {
  display: block;
  font-size: 1rem;
  color: var(--time-color); ; 
  margin-bottom: 5px;
  font-weight: normal;
}
